{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-console": 0
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "generators": true,
    "templateStrings": true,
    "classes": true
  }
}
